<!DOCTYPE html>
<html>
  <head>
    <title>Issue kidding me</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
  <h1>Git had a cold so I gave it a issue</h1>
  </body>
  <img> src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT_oUqxhXmscji5pfxftl_XxJ_rZI0w9-uM1nGMPGKBTkA-_ClmUw"/>
  